@page
@model WebApp.Pages.SamplePages.IndexModel
@{
    ViewData["Title"] = "Default Page in Samples";
}

<h1>Sample Default Page</h1>

<p>This is the same as your default page within your web page subfolder for your scenerio in the group project</p>

<p>On this page would go: bugs, known/unknown problems, etc</p>

<img src="~/img/ChinookMusic.jpg" alt="Webpage image">